*{
  font-family: 'Raleway', sans-serif;
  scroll-behavior: smooth;
}


.bar{
  font-size: 2em;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 5vh;
  background-color: #3271a5 ;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: white;
}

.navbutton > a:link{
  color: white;
  text-decoration: none;
}
.navbutton > a:visited{
  color: white;
  text-decoration: none;
}
.navbutton > a:hover{
  color: white;
  text-decoration: none;
}
.navbutton > a:active{
  color: white;
  text-decoration: none;
}

.navbutton{
  padding: 10px;
}

.Start {
  text-align: center;
  background-color: #235284 ;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2.5em;
  color: white;
  font-family: 'Cairo', sans-serif;
}

.Intro {
  display: flex;
  font-family: 'Cairo', sans-serif;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  
  img{
    width: 50vw;
    height: 50vh;
  }
}


.Description{
  background-color: #4194cb ;
  color: white;
  width: 30vw;
  border-radius: 15px;
  padding: 20px;
  margin: 3vw;;
  
}

.firstPartMe{
  font-size: 2em;
  display: flex;
  align-items: center;
  height: 100vh;
  background-color: #143E69;
  
  img{
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
  }
}

.secondPartMe{
  display: flex;
  flex-direction: column;
  background-color: #4194cb;
  font-size: 2em;
  overflow: auto;
  padding: 10px;
}


.preTech{
  display: flex;
  align-items: center;
}


#style-5::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  box-shadow: none;
	background-color: #F5F5F5;
}

#style-5::-webkit-scrollbar
{
  width: 10px;
	background-color: #F5F5F5;
}

#style-5::-webkit-scrollbar-thumb
{
  background-color: #0ae;
	
	background-image: -webkit-gradient(linear, 0 0, 0 100%,
  color-stop(.5, rgba(255, 255, 255, .2)),
					   color-stop(.5, transparent), to(transparent));
}



.Techs{
  background-color: #58afdd  ;
  color: white;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 23%;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  padding: 30px;
  border-radius: 15px;
  margin: 10px;
  height: fit-content;
  
  div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    p{
      margin: 0;
    }
    
    img{
      width: 5vw;
      height: 5vw;
    }
  }
}



#techModel{
  height: 50vh;
  width: 50vw;
}

#Courses{
  padding: 10px;
  
  div{
    h1{
      font-size: 3em;
    }
  }
  
}

.CourseList{
  font-size: 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}

.CourseItem{
  border: solid black;
  padding: 10px;
  border-radius: 10px;
}

.projects{
  background-color: #ADE8F4;
  padding: 10px;
  h1{
    overflow: auto;
    margin: 10px;
  }
}

.postProject{
  display: flex;
  flex-direction: row;
  
  img{
    width: 30vw;
    height: 30vw;
  }
}

.card-wrapper{
  width: 70vw;
  display: flex;
  justify-content: center;
}

.card{
  background-color: #062A4F;
  color: white;
  border-radius: 50px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 350px;
  height: 500px;
  
  p{
    background-color: #235384;
    padding: 5px;
    border-radius: 5px;
  }
  
  .button_holder{
    display: flex;
    align-items: center;
    justify-content: center;
    
    a{
      background-color: white;
      padding: 5px;
      border-radius: 5px;
    }
    
  }
  img{
    height: 200px;
    width: auto;
  }
}

.socials{
  padding: 10px;
  font-size: 2em;
  background-color: #3C6691 ;
  height: 50vh;
  color: white;
  
  h2{
    overflow: auto;
  }
}


.socialCont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
  img{
    width: 35vh ;
    height: 35vh;
    text-align: right;
  }
}


.socialLinks > a:link{
  color: white;
}
.socialLinks > a:hover{
  color: grey;
}
.socialLinks > a:visited{
  color: burlywood;
}


/* Landscape phones and down */
@media (max-width: 480px) { 
  .bar{
    font-size: larger;
  }

  .Start{
    font-size: 2rem;
    .Intro{

      display: flex;
      flex-direction: column-reverse;

      img{
        height: 250px;
        width: 250px;
      }
    }
  }

  .Me{
    height: auto;
    
    .firstPartMe{
      height: auto;
      flex-direction: column;

      img{
        width: 90vw;
        height: 90vw;
      }

      .Description{
        font-size: smaller;
        width: 80%;
        
        ul{
          margin:0;
        }
        p{
          font-size: smaller;
        }
      }
    }
    .secondPartMe{
      font-size: medium;

      .preTech{
        flex-direction: column;

        #techModel{
          width: 80vw;
          height: 80vw;
        }
        
        .Techs{
          width: 80%;
          font-size:medium;
          padding: 5%;
        }
      }
    }
  }
  
  .CourseList{
    flex-direction: column;
    font-size: medium;
    .CourseItem{
      margin-top: 15px;
    }
  }

  .projects{
    .postProject{
      flex-direction: column;
      align-items: center;
      img{
        width: 80vw;
        height: 80vw;
      }
      .card-wrapper{
        height: auto;
        margin-bottom: 10px;
        img{
          width: 100%;
          height: auto;
        }
        h1{
          margin-top: 5px;
          margin-bottom: 5px;
          font-size: x-large;
        }
      }
    }
  }

  .socials{
    font-size: smaller;
    .socialCont{
      flex-direction: column;
    }
  }
 }

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {  }

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {  }

/* Large desktop */
@media (min-width: 1200px) {  }

