body{
  background-color: #262626;
  color: white;
  font-size: 28px;
  font-family: 'Open Sans', sans-serif;
}

.page{
  background-color: #262626;
}

.pagePart{
  padding: 0px  30px;
}

button{
  display: flex;
  align-items: center;
  justify-content:space-around;
  padding: 0px 40px;
  width: 400px;
  min-height: 70px;
  border-radius: 10px;
  font-size: 34px;
  margin: 20px 0px;
  text-decoration: none;
}

button:hover{
  background-color: #b5c3cf;
  outline: white solid 5px;
}

button:active{
  background-color: #6EB1EE;
}

a{
  text-decoration: none;
  color: rgb(134, 166, 236);
}

a:visited{
  color: rgb(134, 212, 236);
  text-decoration: none;
}

a:active{
  color: rgb(157, 239, 253);
}

.Ofuscator {
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  backdrop-filter: blur(10px);
  z-index: 3;
  left: 0;
  top: 0;
  cursor: pointer;
}

.flagEmoji{
  width: 30px;
  margin: 0pc 10px;
}


.partTitle{
  align-self: start;
}

/*  Smaller Screens  */
@media all and (min-width: 769px) and (max-width: 1300px){
  
  .ProjectPic{
    width: 90%;
    height: 300px;
  }
}

/*  Ipad/Tablets  */
@media all and (min-width: 481px) and (max-width: 768px){


  
  .Projects_item a{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .Projects_item button{
    max-width: 70%;
  }

  .ProjectPic{
    width: 90%;
    height: 300px;
  }

}

/*  Mobile  */
@media all and (max-width: 480px){


  .Courses_item{
    width: 90%;
    margin: 20px 0px;
    padding: 0px 15px;
  }

  .Courses_item ul{
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .Courses_item li{
    flex-direction: column;
    padding: 10px 20px;
    width: 90%;
  }

  .coursesLink{
    font-size: 20px;
  }

  .techpic{
    width: 100px;
    height: 100px;
  }

  .Projects{
    align-items: center;
  }

  .Projects_item{
    width: 80%;
  }

  .Projects_item a{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .Projects_item button{
    max-width: 70%;
  }

  .ProjectPic{
    width: 90%;
    height: 300px;
  }


  .cvButton{
    width: 90%;
    padding: 0;
  }
}
